# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# Flutter generated plugin files
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Crash and logs
*.log

# Firebase local secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Misc
.DS_Store
